<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let l of lugares" [latitude]="l.lat" [longitude]="l.lng"></agm-marker>
</agm-map>

<hr/>
<div id="cuadrado" [@contenedorAnimable]="state" (@contenedorAnimable.start)="animacionInicia($event)"
(@contenedorAnimable.done)="animacionTermina($event)" ></div>
<a class="btn btn-default" (click)="animar()">Animar!</a>
<div class="container">
  <div class="row" >
      <div class="col-md-8">
          <h2>Lugares cercanos</h2>
          <a class="btn btn-primary" routerLink="/crear/new">Crear nuevo Negocio</a>
          <ul class="list-group">
              <ng-container *ngFor="let i of lugares">
                  <!-- <a routerLink="/detalles/{{i.id}}" [queryParams]="{action:'view',referer:'google'}"><li class="list-group-item" *ngIf="i.visible">{{i.nombre}}</li></a> -->
                
                  <li class="list-group-item">
                    <a routerLink="/crear/{{i.id}}"><h3>{{i.nombre|uppercase}}</h3></a>
                    <!-- DatePipe -->
                    <small>Creado: {{i.id | date:'medium' | uppercase}}</small>
                    <br/>
                    <!-- DecimalPipe -->
                    <!-- {{'12234.121231231' | number:'1.2-2' }} -->
                    <p [innerHtml]="i.descripcion | linkifystr"></p>
                  </li>
                
              </ng-container>
          </ul>
      </div>
      <div class="col-md-4"  [@contenedorAnimable]="state">
          <h2>Destacados</h2>
          <ng-container *ngFor="let i of lugares">
            <div class="bg-danger padding" *ngIf="i.plan == 'pagado'">
              <a routerLink="/crear/{{i.id}}"><h3>{{i.nombre|uppercase}}</h3></a>
              <small>Creado: {{i.id | date:'medium' | uppercase}}</small>
              <p [innerHtml]="i.descripcion | linkifystr"></p>
            </div>
          
        </ng-container>
      </div>
  </div>

</div>

<!-- 
<br/>
  <ul>
  <ng-container *ngFor="let item of items;let i = index" [ngSwitch]="item.cercania">
    <a><li appContarClicks [ngStyle]="{color:(item.visible)? 'black':'red'}" [ngClass]="{numero_par: (i+1) % 2 !== 0}" [appResaltar]="item.plan">
      {{item.nombre}}
      --
      <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy cercano</span>
      <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cernano</span>
      <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejana</span>
    </li></a>
  </ng-container>
</ul> -->
<!-- https://angular-maps.com/ -->
<!-- Capitulo Problemas con el login 62 -->
